body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-weight: normal;
}

table,table tr th, table tr td { 
    border: 1px solid #000; 
}

table {
    border-collapse: collapse;
}
#sidebar {
    margin-top: 0;
    padding-left: 25px;
	padding-bottom:25px;
}

@media (min-width: 40rem) {
	#sidebar {
	width: 280px;
    position: fixed;
    height: 100%;
    margin-right: 20px;
	padding-bottom:0px;
    padding-top: 0px;
	}
}

#sidebar ul {
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}

#sidebar ol {
    margin: 0;
    padding-left: 20px;
    padding-top: 0;
}

#sidebar ul li,
#sidebar ol li {
    margin-top: 0;
    margin-bottom: 0.2rem;
    margin-left: 10px;
    padding: 0;
}

@media (min-width: 40rem) {
	#tab {
		padding-left:330px;
		margin-left: 0px;
		margin-right: 0px;
        width: 1200px;
	}
}
