body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

h1 {
    font-weight: lighter;
}

h2,h3,h4 {
    color: green;
}

a:visited {
    color:rgb(0,0,238);
}

label {
	display: block;
}

textarea {
	width: 100%;
	height: 20em;
}

.short {
    width: 5em;
}

.list-item {
    border-bottom: #ccc 1px solid;
}

.footer {
	padding-top: 15px;
	text-align: center;
	color: #ccc;
}

#sidebar {
    margin-top: 0;
    padding-left: 25px;
	padding-bottom:25px;
}

#nav {
    display: none;
}

@media (min-width: 40rem) {
	#sidebar {
	width: 160px;
    position: fixed;
    height: 100%;
    margin-right: 20px;
	padding-bottom:0px;
    padding-top: 0px;
	}

    #nav {
        display: block;
    }
    #navimg {
        display: none;
    }
}

#sidebar ul {
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}

#sidebar ul li{
    margin-top: 0;
    margin-bottom: 0.2rem;
    margin-left: 10px;
    padding: 0;
}

#tab {
    padding-left: 25px;
}

@media (min-width: 40rem) {
	#tab {
		padding-left:15rem;
		margin-left: 0px;
		margin-right: 0px;
	}

    .wrap {
		width: 800px;
		margin: 0 auto;
	}
}