body {
    font-size: 16px;
}

#menu {
	background-color: #eee;
	width: 100%;
	height: 40px;
}

#menu ul {
    list-style: none;
}

#menu ul li{
	float: left;
	line-height: 40px;
	position: relative;
	text-align: center;
}

#menu a {
	display: block;
	text-decoration: none;
	color: #000;
	width: 90px;
}

#menu a:hover {
	color: #FFF;
	background-color: #666;
}

#menu ul li ul li {
	float: none;
	background-color: #eee;
}

#menu ul li ul {
	display: none;
	width: 90px;
	position: absolute;
}

#menu ul li:hover ul {
	display: block;
}

input[type="file"] {
	-display: none;
}

table {
	border-top: 1px #000 solid;
	border-left: 1px #000 solid;
	border-spacing: 0;
	text-align: center;
	white-space: nowrap;
}

td,th {
	border-right: 1px #000 solid;
	border-bottom: 1px #000 solid;
	font-weight: normal;
	font-size: 14px;
}

td input {
	width: 60px;
}

.page {
	display: none;
}

.show {
	display: block;
}

.nav {
	list-style-type: none;
	padding-left: 0px;
}

.nav li{
	display: inline-block;
	border: 1px black solid;
	border-radius: 2px;
	box-shadow: 1px 1px black;
	cursor: pointer;
	width: 60px;
	text-align: center;
}
