ul, ol {
    margin: 0;
}

.sidebar-wrapper {
	width: 180px;
	float: left;
}

.page-wrapper {
	float: left;
	padding-left: 50px; 
}

.result-wrapper {
	float: left;
	padding-left: 50px; 
}

.page {
	display: none;
}

.show {
	display: block;
}

.nav {
	list-style-type: none;
	padding-left: 230px;
}

.nav li{
	display: inline-block;
	border: 1px black solid;
	border-radius: 2px;
	box-shadow: 1px 1px black;
	cursor: pointer;
	width: 60px;
	text-align: center;
}